code {
  background-color: rgb(246, 248, 250);
}

.katex-display {
  overflow: auto;
}

.active_section > span {
  font-weight: 500;
}

#top-app-bar {
  z-index: 1201;
}

@media (min-width: 1200px) {
  @media (max-width: 1536px) {
    .main-toc-open {
      margin-left: calc((100vw - 372px - 900px) / 2) !important;
    }
  }
}
